*{
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 300px;
    height: 300px;
    align-items: center;
}

.container{
    margin-top: 100px;
    margin-left: 250px;
}

.nav{
    font-size: large;
    /* padding-top: 10px; */
    

}


a{
    color: black;
}

/* .col{
    margin-top: 1em;
    padding-left: 50px;
    column-gap: 10px;
} */

a:hover{
    color: rgb(85, 83, 83);
}

/* .row{
    margin-left: 75px;
} */

.about{
    margin-top: 1em;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    max-width: 300px;
 }

hr{
    margin-right: 10em;
    border-top: 2px solid black;
}

h6{
    margin-top: 1em;
}

p{
    padding-top: 1em;
}

.home{
    background-color: rgb(240,240,240,255);
}

.front-page{
    padding-left: 0px;
    padding-top: 1em;
    padding-bottom: 2em;
}

footer{
    margin-top: 100px;
    padding-bottom: 10px;
    margin-left: 3em;
}

.col-sm-2{
    
    margin-left: 18em;
    margin-bottom: 2em;
}
.navbar-custom {
    color: black;
    list-style: none;
    font-size: large;
    margin-bottom: 3em;
}

.col-sm-4{
    padding-left: 3em;
}

.login-input{
    margin-bottom: 10px;
}

.form{
    margin-left: 50px;
}



